/* ==========================================================
   RESPONSIVE TABLET
========================================================== */

@media (max-width:1024px) {

    /* CATALOGO */

    .catalogo_Madre,
    .catalogo_Madre_2 {
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .catalogo_controls {
        flex-direction: column;
        align-items: stretch;
    }

    .controls_izquierda {
        flex-direction: column;
        width: 100%;
    }

    .buscador_box {
        width: 100%;
    }

    .filtros {
        flex-wrap: wrap;
    }

    .section_Beneficios {
        margin-left: 20px;
        margin-right: 20px;
    }

    .catalogo_cantenido {
        width: 100%;
        max-width: 320px;
    }

    /* CONTACTO */

    .contacto_container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .contacto_form {
        width: 100%;
    }

    .form_row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* FOOTER */

    .footer_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* CARRITO */

    .carrito-side-panel {
        width: 420px;
        max-width: 100%;
    }

}
